<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Home page <%= 3+3 %>
    </h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea possimus quisquam iusto ducimus excepturi quam autem
        quibusdam rem laborum mollitia dolor voluptas fuga, exercitationem magnam nihil, odio id quidem nostrum.
        Itaque, atque asperiores quia amet reprehenderit veniam quis repellendus maxime laborum dolorem, recusandae vel
        molestias odit nulla ratione. Eaque, culpa nemo eius porro dolor animi quibusdam! Maxime porro laudantium
        consequatur?
        Porro, velit exercitationem natus veritatis aliquid dolorem voluptate incidunt maxime debitis reprehenderit?
        Sequi eveniet alias illum soluta ipsam! Obcaecati illo nobis vero eum. Nemo eaque corrupti earum quidem magni
        tempore.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis est corporis dolor enim repellendus. Asperiores,
        velit voluptatibus ex aliquam fugiat quisquam illum quaerat aspernatur atque nesciunt vel tempore animi ea.
        Libero recusandae illum eius nulla nemo. Consequuntur, veniam reiciendis dignissimos vel odio pariatur
        repellendus assumenda perferendis reprehenderit molestiae eaque, eos beatae? Magnam numquam repudiandae delectus
        esse aliquid voluptatum tempore repellat?</p>
</body>

</html>